:host {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: var(--itx-spacing-4);
	padding-block: var(--itx-spacing-2);
}

:host + :host {
	border-top: 1px solid var(--itx-border);
}

.demo-state-item__label {
	color: #34ff02;
	white-space: nowrap;
}

.demo-state-item__value {
	font-family: var(--itx-font-family-mono);
	font-weight: 500;
	color: #34ff02;
	text-align: end;
}
