:host {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	max-width: var(--itx-spacing-64);
	padding: var(--itx-spacing-4);
	background: var(--itx-surface);
	color: var(--itx-neutral-14);
	/* border: 2px solid var(--itx-neutral-2); */
	font-size: var(--itx-font-size-caption);
	margin-bottom: var(--itx-spacing-1);
	flex: var(--demo-state-flex, 1 1 auto);
}

.demo-state__title {
	margin: 0 0 var(--itx-spacing-3) 0;
	font-size: var(--itx-font-size-fine-print);
	line-height: 2.5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: var(--itx-neutral-9);
}
