@use "lib/tokens/raw" as *;

:host {
	.list,
	.item {
		margin: unset;
		padding: unset;
		/*  TODO: Move to reset */
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		gap: 0.5rem;
		background-color: #aaa;
		padding: 0.5rem;
		border-radius: 16px;
	}

	.item {
		flex: 1 1 calc(50% - 2rem);
		background-color: #fff;
		padding: 0.25rem 0.5rem;
		border-radius: 8px;
		&.--active {
			display: list-item;
		}
	}

	a {
		text-decoration: none;
		color: black;
		line-height: 1.5rem;
		font-size: 0.875rem;
	}
}
