:host {
	display: block;
	position: relative;
}

.demo-example__label {
	font-size: var(--itx-fluid-1);
	font-weight: 400;
	color: var(--itx-neutral-10);
	margin: unset;
	/* padding: var(--itx-spacing-6) var(--itx-spacing-6) 0; */
}

.demo-example__preview {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.demo-example__canvas {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
}

.demo-example__ui {
	flex: 1 0 100%;
}

.demo-example__reload {
	position: absolute;
	inset: 10px 10px auto auto;
	--itx-button-border-radius: var(--itx-radius-full);
}

.demo-example__code {
	overflow: clip;
	&:not(:empty) {
		background: var(--itx-neutral-2);
	}
}
