.dialog-page__title {
	margin: 0 0 var(--itx-spacing-2);
	font-size: var(--itx-font-size-subheading);
	font-weight: 600;
}

.dialog-page__actions {
	display: flex;
	justify-content: flex-end;
	gap: var(--itx-spacing-3);
	margin-top: var(--itx-spacing-12);
}
